mixin portf-block(p,groups)
  .portfolio__block(data-tag=p.tag)
    .portfolio__float= groups[p.tag]
    .portfolio__image(style=`background-image: url('${p.bg}')`)
    .portfolio__content
      .portfolio__header_min(class=p.dark && 'portfolio__header_dark')= p.header
      .portfolio__text(class=p.dark && 'portfolio__text_dark')!= p.text
      a.link__more(href=`${p.link}` class=p.dark && 'link__more_dark') Подробнее
