block vars
<!DOCTYPE html>
html(lang="ru")
  head
    title= pageTitle
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block preloaderstyle
    link(rel='shortcut icon', href='/img/favicon.png', type='image/x-icon')
    link(rel="stylesheet", href="/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/vendor/swiper.css")
    link(rel="stylesheet", href="/vendor/tingle.css")
    link(rel="stylesheet", href="/vendor/alertify.core.css")
    link(rel="stylesheet", href="/vendor/alertify.default.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js")
    script(src="/vendor/inputmask.dependencyLib.min.js")
    script(src="/vendor/inputmask.min.js")
    script(src="/vendor/alertify.min.js")
    script(src="/vendor/is.min.js")
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107115877-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107115877-1');
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46089240 = new Ya.Metrika({ id:46089240, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46089240" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  body
    block preloader
    block preloaderscript
    .wrapper
      include ../blocks/_callback.pug
      include ../blocks/_mobile-menu.pug
      //- header.header(style=headerHeight && 'height:'+headerHeight+'px')
      header.header(style=`${headerHeight? `height:${headerHeight}px;`:''} ${customBg? `background-image:url('${customBg}');` :''}`)
        video.header__video(src="/img/video-bg.mp4" autoplay loop style=``)
        img.header__mouse(src="/img/mouse.png" style=`display: ${home? 'block': 'none'};`)
        .header__top
          a(href='/')
            img.header__logo(src="/img/logo.png")
          nav.header__menu.menu
            nav.menu__item(class=home && 'menu__item_active')
              a.menu__link(href="/") Главная
            nav.menu__item(class=about && 'menu__item_active')
              a.menu__link(href="/about.html") О студии
            //- nav.menu__item(class=team && 'menu__item_active')
            //-   a.menu__link(href="/team.html") Команда
            nav.menu__item.menu__item_drop(class=service && 'menu__item_active')
              a.menu__link Услуги
              nav.menu__submenu
                a.menu__link.menu__link_margin(href="/websites.html") <span>Разработка сайтов</span>
                a.menu__link.menu__link_margin(href="/promotion.html") <span>Продвижение и реклама</span>
                a.menu__link.menu__link_margin(href="/software.html") <span>Разработка ПО</span>
                a.menu__link.menu__link_margin(href="/design.html") <span>Дизайн</span>
                a.menu__link.menu__link_margin(href="/analytics.html") <span>Аналитика</span>
                a.menu__link.menu__link_margin(href="/mobile.html") <span>Разработка мобильных приложений</span>
                a.menu__link.menu__link_margin(href="/complex-digital.html") <span>Комлпексное digital-сопровождение вашего бизнеса</span>
            nav.menu__item(class=prices && 'menu__item_active')
              a.menu__link(href="/prices.html") Цены
            nav.menu__item(class=portfolio && 'menu__item_active')
              a.menu__link(href="/portfolio.html") Портфолио
            //nav.menu__item(class=blog && 'menu__item_active')
              a.menu__link(href="#") Блог
            nav.menu__item(class=constacts && 'menu__item_active')
              a.menu__link(href="/contacts.html") Контакты
          .header__contacts
            a.header__phone.header__phone_margin(href="tel:+74951349434") +7(495)134-94-34
            button.header__button#header-button #[span Заказать звонок]
        .header__main
          if (!customHeader)
            .header__about
              .header__title Интернет-агентство полного цикла
              .header__text Внеземные технологии<span> Космический результат</span>
          else
            block header
      block content
      footer.footer
        .g-wrapper
          .navigation
            .navigation__col
              .navigation__title Навигация
              a.navigation__link(href="/") Главная
              a.navigation__link(href="/about.html") О компании
              a.navigation__link(href="/prices.html") Цены
              a.navigation__link(href="/portfolio.html") Портфолио
              a.navigation__link(href="/contacts.html") Контакты
            .navigation__col.navigation__col_center
              .navigation__title Наши услуги
              a.navigation__link(href="/websites.html") Разработка сайтов
              a.navigation__link(href="/promotion.html") Продвижение и реклама
              a.navigation__link(href="/software.html") Разработка ПО
              a.navigation__link(href="/analytics.html") Аналитика
              a.navigation__link(href="/design.html") Продвижение
              a.navigation__link(href="/mobile.html") Разработка мобильных приложений
              a.navigation__link(href="/complex-digital.html") Комплексное digital-сопровождение  вашего бизнеса
            .navigation__col
              //- .navigation__title Соц. сети
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-vk.svg
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-behance.svg
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-twitter.svg
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-facebook.svg
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-instagram.svg
              .navigation__title Контакты
              a.footer__contacts.footer__contacts_phone(href="tel:+74951349434") +7(495)134-94-34
              a.footer__contacts.footer__contacts_mail(href="mailto:info@spacecode.ru") info@spacecode.ru
              .footer__contacts.footer__contacts_address г. Москва, ул. Большая Серпуховская, д. 44, офис 414
    button.hamburger
    script(src="/js/bundle.js")
    <noindex><script async src="https://stats.lptracker.ru/code/new/43871"></script></noindex>
