block vars
<!DOCTYPE html>
html(lang="ru")
  head
    title= pageTitle
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style.
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .preloader {
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: radial-gradient(#2c2e3c 0%, #2c2e3c 30%, #191A22 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        will-change: opacity;
        transition: .5s;
        z-index: 1000000;
      }
      .preloader__logo {
        width: 400px;
      }

      .preloader__light {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(255,255,255,.1);
        animation: blink 2s infinite;
      }

      @keyframes blink {
        0% { transform: translateY(0) }
        50% { transform: translateY(-100%) }
        100% { transform: translateY(-200%) }
      }
    link(rel='shortcut icon', href='/img/favicon.png', type='image/x-icon')
    link(rel="stylesheet", href="/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/vendor/swiper.css")
    link(rel="stylesheet", href="/vendor/tingle.css")
    link(rel="stylesheet", href="/vendor/alertify.core.css")
    link(rel="stylesheet", href="/vendor/alertify.default.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js")
    script(src="/vendor/inputmask.dependencyLib.min.js")
    script(src="/vendor/inputmask.min.js")
    script(src="/vendor/alertify.min.js")
    script(src="/vendor/is.min.js")
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107115877-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107115877-1');
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46089240 = new Ya.Metrika({ id:46089240, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46089240" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  body
    .preloader
      .preloader__logo
        svg(viewbox='0 0 1457 216', xmlns='http://www.w3.org/2000/svg')
          g(fill='none', fill-rule='evenodd')
            path(d='M116 102.6c0 9.6-1.867 16.067-5.6 19.4-3.733 3.333-10.467 5-20.2 5H26.4c-10.533 0-17.467-1.867-20.8-5.6-3.333-3.733-5-10.933-5-21.6l21.2-4.4v12.2h73V84H30.4c-9.733 0-16.433-1.667-20.1-5-3.667-3.333-5.5-9.8-5.5-19.4V48.2c0-9.6 1.833-16.067 5.5-19.4 3.667-3.333 10.367-5 20.1-5H89c9.867 0 16.6 1.7 20.2 5.1 3.6 3.4 5.4 9.967 5.4 19.7l-21.2 5V41.8H25.8V64h64.4c9.733 0 16.467 1.667 20.2 5 3.733 3.333 5.6 9.8 5.6 19.4v14.2zm165.7-35.8c0 13.333-7.733 20-23.2 20h-64.8V127h-23.6V23.8h88.4c15.467 0 23.2 6.667 23.2 20v23zm-23.2-6v-11c0-3.467-1-5.733-3-6.8-1.467-.933-4.067-1.4-7.8-1.4h-54V69h54c3.733 0 6.333-.467 7.8-1.4 2-1.067 3-3.333 3-6.8zM444.3 127h-27l-12.4-22.6h-65.4l-12 22.6h-24l58.4-103.2h23.2L444.3 127zm-49.4-41.2l-22.2-42-23 42h45.2zm198 16.8c0 9.6-1.833 16.067-5.5 19.4-3.667 3.333-10.367 5-20.1 5h-61.6c-9.733 0-16.433-1.667-20.1-5-3.667-3.333-5.5-9.8-5.5-19.4V48.2c0-9.6 1.833-16.067 5.5-19.4 3.667-3.333 10.367-5 20.1-5h61.6c12.267 0 19.867 2.867 22.8 8.6 1.867 3.333 2.8 11.867 2.8 25.6l-24 3.8V42.2h-64.8v65.4h64.8V85.4l24 5v12.2zM753.5 127H646.9V23.8h105.6v17.6h-81.6v23h47.6V82h-47.6v25.6h82.6zm159.4-24.4c0 9.6-1.833 16.067-5.5 19.4-3.667 3.333-10.367 5-20.1 5h-61.6c-9.733 0-16.433-1.667-20.1-5-3.667-3.333-5.5-9.8-5.5-19.4V48.2c0-9.6 1.833-16.067 5.5-19.4 3.667-3.333 10.367-5 20.1-5h61.6c12.267 0 19.867 2.867 22.8 8.6 1.867 3.333 2.8 11.867 2.8 25.6l-24 3.8V42.2h-64.8v65.4h64.8V85.4l24 5v12.2z', fill='#FFF', fill-rule='nonzero')
            g(transform='rotate(-54 616.457 -799.597)')
              rect(fill='#FFF', fill-rule='nonzero', x='79', width='100', height='20', rx='10')
              rect(fill='#FFF', fill-rule='nonzero', x='38', y='32', width='85', height='20', rx='10')
              rect(fill='#FFF', fill-rule='nonzero', y='65', width='110', height='20', rx='10')
              rect(fill='#FFF', fill-rule='nonzero', x='38', y='98', width='85', height='20', rx='10')
              rect(fill='#FFF', fill-rule='nonzero', x='79', y='130', width='100', height='20', rx='10')
              circle(stroke='#FFF', stroke-width='20', cx='170', cy='75', r='65')
              circle(fill='#FFF', fill-rule='nonzero', cx='152.504', cy='101.085', r='15')
              circle(fill='#FFF', fill-rule='nonzero', cx='192.228', cy='48.759', r='10')
              circle(fill='#FFF', fill-rule='nonzero', cx='193.171', cy='102.225', r='7')
            path(d='M1301.6 74.8c0 20-7.6 34.733-22.8 44.2-8.667 5.333-22.8 8-42.4 8h-60.2V23.8h66.4c17.867 0 31.867 4 42 12 11.333 8.8 17 21.8 17 39zm-24.8-.4c0-21.467-11.333-32.2-34-32.2h-42.6v65.4h31c14.667 0 25.333-1.867 32-5.6 9.067-5.067 13.6-14.267 13.6-27.6zm179.7 52.6h-106.6V23.8h105.6v17.6h-81.6v23h47.6V82h-47.6v25.6h82.6z', fill='#FFF', fill-rule='nonzero')
      .preloader__light
    .wrapper(style="opacity: 0; transition: .3s;")
      include ../blocks/_callback.pug
      include ../blocks/_mobile-menu.pug
      //- header.header(style=headerHeight && 'height:'+headerHeight+'px')
      header.header(style=`${headerHeight? `height:${headerHeight}px;`:''} ${customBg? `background-image:url('${customBg}');` :''}`)
        video.header__video(src="/img/video-bg.mp4" autoplay loop style=``)
        img.header__mouse(src="/img/mouse.png" style=`display: ${home? 'block': 'none'};`)
        .header__top
          a(href='/')
            img.header__logo(src="/img/logo.png")
          nav.header__menu.menu
            nav.menu__item(class=home && 'menu__item_active')
              a.menu__link(href="/") Главная
            nav.menu__item(class=about && 'menu__item_active')
              a.menu__link(href="/about.html") О студии
            //- nav.menu__item(class=team && 'menu__item_active')
            //-   a.menu__link(href="/team.html") Команда
            nav.menu__item.menu__item_drop(class=service && 'menu__item_active')
              a.menu__link Услуги
              nav.menu__submenu
                a.menu__link.menu__link_margin(href="/websites.html") <span>Разработка сайтов</span>
                a.menu__link.menu__link_margin(href="/promotion.html") <span>Продвижение и реклама</span>
                a.menu__link.menu__link_margin(href="/software.html") <span>Разработка ПО</span>
                a.menu__link.menu__link_margin(href="/design.html") <span>Дизайн</span>
                a.menu__link.menu__link_margin(href="/analytics.html") <span>Аналитика</span>
                a.menu__link.menu__link_margin(href="/mobile.html") <span>Разработка мобильных приложений</span>
                a.menu__link.menu__link_margin(href="/complex-digital.html") <span>Комлпексное digital-сопровождение вашего бизнеса</span>
            nav.menu__item(class=prices && 'menu__item_active')
              a.menu__link(href="/prices.html") Цены
            nav.menu__item(class=portfolio && 'menu__item_active')
              a.menu__link(href="/portfolio.html") Портфолио
            //nav.menu__item(class=blog && 'menu__item_active')
              a.menu__link(href="#") Блог
            nav.menu__item(class=constacts && 'menu__item_active')
              a.menu__link(href="/contacts.html") Контакты
          .header__contacts
            a.header__phone.header__phone_margin(href="tel:+74951349434") +7(495)134-94-34
            button.header__button#header-button #[span Заказать звонок]
        .header__main
          if (!customHeader)
            .header__about
              .header__title Интернет-агентство полного цикла
              .header__text Внеземные технологии<span> Космический результат</span>
          else
            block header
      block content
      footer.footer
        .g-wrapper
          .navigation
            .navigation__col
              .navigation__title Навигация
              a.navigation__link(href="/") Главная
              a.navigation__link(href="/about.html") О компании
              a.navigation__link(href="/prices.html") Цены
              a.navigation__link(href="/portfolio.html") Портфолио
              a.navigation__link(href="/contacts.html") Контакты
            .navigation__col.navigation__col_center
              .navigation__title Наши услуги
              a.navigation__link(href="/websites.html") Разработка сайтов
              a.navigation__link(href="/promotion.html") Продвижение и реклама
              a.navigation__link(href="/software.html") Разработка ПО
              a.navigation__link(href="/analytics.html") Аналитика
              a.navigation__link(href="/design.html") Продвижение
              a.navigation__link(href="/mobile.html") Разработка мобильных приложений
              a.navigation__link(href="/complex-digital.html") Комплексное digital-сопровождение  вашего бизнеса
            .navigation__col
              //- .navigation__title Соц. сети
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-vk.svg
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-behance.svg
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-twitter.svg
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-facebook.svg
              //- a.footer__icon(href="#")
              //-   include ../../images/fa-instagram.svg
              .navigation__title Контакты
              a.footer__contacts.footer__contacts_phone(href="tel:+74951349434") +7(495)134-94-34
              a.footer__contacts.footer__contacts_mail(href="mailto:info@spacecode.ru") info@spacecode.ru
              .footer__contacts.footer__contacts_address г. Москва, ул. Большая Серпуховская, д. 44, офис 414
      button.hamburger
    script.
      (function () {
        var preloader = document.querySelector('.preloader');

        var images = Array.prototype.slice.call(document.querySelectorAll('img'));
          Promise.all(images.map(function (image) {
            return new Promise(function (res, rej) {
              var img = new Image();
              img.setAttribute('src', image.getAttribute('src'));
              img.onload = img.onerror = res;
            });
          })).then(function (_) {
            document.querySelector('.wrapper').style.opacity = '';
            preloader.style.opacity = 0;
            setTimeout(function() {
              preloader.parentElement.removeChild(preloader)
            } ,550)
          });
      })();
    script(src="/js/bundle.js")
    <noindex><script async src="https://stats.lptracker.ru/code/new/43871"></script></noindex>
