block vars
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/vendor/swiper.css")
    link(rel="stylesheet", href="/vendor/tingle.css")
    title= pageTitle
  body
    .wrapper
      include ../blocks/_callback.pug
      include ../blocks/_mobile-menu.pug
      //- header.header(style=headerHeight && 'height:'+headerHeight+'px')
      header.header(style=`${headerHeight? `height:${headerHeight}px;`:''} ${customBg? `background-image:url('${customBg}');` :''}`)
        img.header__mouse(src="/img/mouse.png" style=`display: ${home? 'block': 'none'};`)
        .header__top
          a(href='/')
            img.header__logo(src="/img/logo.png")
          nav.header__menu.menu
            nav.menu__item(class=home && 'menu__item_active')
              a.menu__link(href="/") Главная
            nav.menu__item(class=about && 'menu__item_active')
              a.menu__link(href="/about.html") О студии
            //- nav.menu__item(class=team && 'menu__item_active')
            //-   a.menu__link(href="/team.html") Команда
            nav.menu__item.menu__item_drop(class=service && 'menu__item_active')
              a.menu__link Услуги
              nav.menu__submenu
                a.menu__link.menu__link_margin(href="/websites.html") <span>Разработка сайтов</span>
                a.menu__link.menu__link_margin(href="/promotion.html") <span>Продвижение</span>
                a.menu__link.menu__link_margin(href="/software.html") <span>Разработка ПО</span>
                a.menu__link.menu__link_margin(href="/design.html") <span>Дизайн</span>
                a.menu__link.menu__link_margin(href="/analytics.html") <span>Аналитика</span>
                a.menu__link.menu__link_margin(href="/mobile.html") <span>Разработка мобильных приложений</span>
            nav.menu__item(class=prices && 'menu__item_active')
              a.menu__link(href="/prices.html") Цены
            nav.menu__item(class=portfolio && 'menu__item_active')
              a.menu__link(href="/portfolio.html") Портфолио
            //nav.menu__item(class=blog && 'menu__item_active')
              a.menu__link(href="#") Блог
            nav.menu__item(class=constacts && 'menu__item_active')
              a.menu__link(href="/contacts.html") Контакты
          .header__contacts
            a.header__phone.header__phone_margin(href="tel:+74959999999") +7 (495) #[span.header__phone_big 999-99-99]
            button.header__button#header-button #[span Заказать звонок]
        .header__main
          if (!customHeader)
            .header__about
              .header__title Digital-агенство полного цикла
              .header__text Внеземные технологии<span> Космический результат</span>
          else
            block header
      block content
      footer.footer
        .g-wrapper
          .navigation
            .navigation__col
              .navigation__title Навигация
              a.navigation__link(href="/") Главная
              a.navigation__link(href="/about.html") О компании
              a.navigation__link(href="/team.html") Команда
              a.navigation__link(href="/prices.html") Цены
              a.navigation__link(href="/portfolio.html") Портфолио
              //a.navigation__link(href="#") Блог
              a.navigation__link(href="/contacts.html") Контакты
            .navigation__col.navigation__col_center
              .navigation__title Наши услуги
              a.navigation__link(href="/websites.html") Разработка сайтов
              a.navigation__link(href="/promotion.html") Продвижение
              a.navigation__link(href="/software.html") Разработка ПО
              a.navigation__link(href="/analytics.html") Аналитика
              a.navigation__link(href="/design.html") Продвижение
              a.navigation__link(href="/mobile.html") Разработка мобильных приложений
            .navigation__col
              .navigation__title Соц. сети
              a.footer__icon(href="#")
                include ../../images/fa-vk.svg
              a.footer__icon(href="#")
                include ../../images/fa-behance.svg
              a.footer__icon(href="#")
                include ../../images/fa-twitter.svg
              a.footer__icon(href="#")
                include ../../images/fa-facebook.svg
              a.footer__icon(href="#")
                include ../../images/fa-instagram.svg
              .navigation__title Контакты
              a.footer__contacts.footer__contacts_phone(href="tel:+74951340178") +7 (495) 134-01-78
              a.footer__contacts.footer__contacts_mail(href="mailto:info@spacecode.ru") info@spacecode.ru
              .footer__contacts.footer__contacts_address г. Москва, Ул.Большая Серпуховская 44, оф 414
    button.hamburger
    script(src="/js/bundle.js")
